# ITMGT 25.03 EE
# Assignment 3B

This is a data-cleaning assignment and is the second of two parts. This notebook is uploaded to our Github repository along with a csv of fake, dirty data called **recweekdata.csv**.

In addition, you have a new file called **studentprofiles.csv** which has first and last names plus the genders of the students.

The output of this assignment is to convert recweekdata.csv into processable data for statistics. Submit the following files through GitHub:
1. A cleaned recweekdata.csv called **cleanrecweekdata3b.csv** **(5 points)**
2. This notebook, containing the code (properly commented) that you used to clean the data **(5 points)**
3. An html file of summary statistics from each column called **stats3b.html**. The requirements for the summary statistics are described below. **(10 points)**

The outputs are similar to that of Assignment 3A, except that you will now use Pandas instead of Python lists.

This entire assignment (3B) is worth 20 points.

Upload your output files to your Github repositories. Make sure to send an email to **joben.ilagan@gmail.com** once you're done.

This assignment is due on **Monday, July 9, 2019** at 12:00NN.

Note: I understand you all need to review for LT 2. Think of this Assignment as practice. It's not meant to take you as long as 3A.

#### Bonus Points:
* +2 if submitted over (or before) the weekend (July 13-14)
* +2 if CSS and div tags are used (but please don't spend too much time on this because you still need to review for the Long Test)

In [153]:
## Code goes here
import pandas as pd
import csv
import re

In [154]:
df = pd.read_csv("recweekdata.csv")

In [155]:
with open("studentprofiles.csv",newline="") as csv_file:
    studentprofiles = csv.DictReader(csv_file)
    gender_list = []
    for i in studentprofiles:
        gender_list.append(i["gender"])
    df["gender"] = gender_list

In [156]:
# Lamda Replace for BirthMonth
df.loc[:,"birthmonth"] = df.loc[:,"birthmonth"].apply(lambda x: re.sub("Dec$","December", x) )
df.loc[:,"birthmonth"] = df.loc[:,"birthmonth"].apply(lambda x: re.sub("Nov$","November", x) )
df.loc[:,"birthmonth"] = df.loc[:,"birthmonth"].apply(lambda x: re.sub("Oct$","October", x) )
df.loc[:,"birthmonth"] = df.loc[:,"birthmonth"].apply(lambda x: re.sub("Sep$","September", x) )
df.loc[:,"birthmonth"] = df.loc[:,"birthmonth"].apply(lambda x: re.sub("Aug$","August", x) )
df.loc[:,"birthmonth"] = df.loc[:,"birthmonth"].apply(lambda x: re.sub("Jul$","July", x) )
df.loc[:,"birthmonth"] = df.loc[:,"birthmonth"].apply(lambda x: re.sub("Jun$","June", x) )
df.loc[:,"birthmonth"] = df.loc[:,"birthmonth"].apply(lambda x: re.sub("May$","May", x) )
df.loc[:,"birthmonth"] = df.loc[:,"birthmonth"].apply(lambda x: re.sub("Apr$","April", x) )
df.loc[:,"birthmonth"] = df.loc[:,"birthmonth"].apply(lambda x: re.sub("Mar$","March", x) )
df.loc[:,"birthmonth"] = df.loc[:,"birthmonth"].apply(lambda x: re.sub("Feb$","February", x) )
df.loc[:,"birthmonth"] = df.loc[:,"birthmonth"].apply(lambda x: re.sub("Jan$","January", x) )

df.loc[:,"birthmonth"] = df.loc[:,"birthmonth"].apply(lambda x: re.sub(r"^12","December", x) )
df.loc[:,"birthmonth"] = df.loc[:,"birthmonth"].apply(lambda x: re.sub(r"^11","November", x) )
df.loc[:,"birthmonth"] = df.loc[:,"birthmonth"].apply(lambda x: re.sub(r"^10","October", x) )
df.loc[:,"birthmonth"] = df.loc[:,"birthmonth"].apply(lambda x: re.sub(r"^9","September", x) )
df.loc[:,"birthmonth"] = df.loc[:,"birthmonth"].apply(lambda x: re.sub(r"^8","August", x) )
df.loc[:,"birthmonth"] = df.loc[:,"birthmonth"].apply(lambda x: re.sub(r"^7","July", x) )
df.loc[:,"birthmonth"] = df.loc[:,"birthmonth"].apply(lambda x: re.sub(r"^6","June", x) )
df.loc[:,"birthmonth"] = df.loc[:,"birthmonth"].apply(lambda x: re.sub(r"^5","May", x) )
df.loc[:,"birthmonth"] = df.loc[:,"birthmonth"].apply(lambda x: re.sub(r"^4","April", x) )
df.loc[:,"birthmonth"] = df.loc[:,"birthmonth"].apply(lambda x: re.sub(r"^3","March", x) )
df.loc[:,"birthmonth"] = df.loc[:,"birthmonth"].apply(lambda x: re.sub(r"^2","February", x) )
df.loc[:,"birthmonth"] = df.loc[:,"birthmonth"].apply(lambda x: re.sub(r"^1","January", x) )

In [157]:
# Lamda Replace for BirthYear
df.loc[:,"birthyear"] = df.loc[:,"birthyear"].astype(str).apply(lambda x: re.sub("1997","97", x) )
df.loc[:,"birthyear"] = df.loc[:,"birthyear"].astype(str).apply(lambda x: re.sub("1998","98", x) )
df.loc[:,"birthyear"] = df.loc[:,"birthyear"].astype(str).apply(lambda x: re.sub("1999","99", x) )
df.loc[:,"birthyear"] = df.loc[:,"birthyear"].astype(str).apply(lambda x: re.sub("2000","00", x) )
df.loc[:,"birthyear"] = df.loc[:,"birthyear"].astype(str).apply(lambda x: re.sub("2001","01", x) )

In [158]:
# Lamda Replace for Course
df.loc[:,"course"] = df.loc[:,"course"].apply(lambda x: re.sub("^BS LM","BS Legal Management", x) )
df.loc[:,"course"] = df.loc[:,"course"].apply(lambda x: re.sub("^Management","BS Management", x) )
df.loc[:,"course"] = df.loc[:,"course"].apply(lambda x: re.sub("^BS CTM","BS Comtech", x) )
df.loc[:,"course"] = df.loc[:,"course"].apply(lambda x: re.sub("^BS ITE","BS IT Entrepreneurship", x) )
df.loc[:,"course"] = df.loc[:,"course"].apply(lambda x: re.sub("^Management Engineering","BS Management Engineering", x) )
df.loc[:,"course"] = df.loc[:,"course"].apply(lambda x: re.sub("^CTM","BS Comtech", x) )
df.loc[:,"course"] = df.loc[:,"course"].apply(lambda x: re.sub("^BS ME","BS Management Engineering", x) )
df.loc[:,"course"] = df.loc[:,"course"].apply(lambda x: re.sub("^BS MGT","BS Management", x) )
df.loc[:,"course"] = df.loc[:,"course"].apply(lambda x: re.sub("^Information Technology Entrepreneurship","BS IT Entrepreneurship", x) )
df.loc[:,"course"] = df.loc[:,"course"].apply(lambda x: re.sub("^LM","BS Legal Management", x) )
df.loc[:,"course"] = df.loc[:,"course"].apply(lambda x: re.sub("^ITE","BS IT Entrepreneurship", x) )
df.loc[:,"course"] = df.loc[:,"course"].apply(lambda x: re.sub("^MGT","BS Management", x) )
df.loc[:,"course"] = df.loc[:,"course"].apply(lambda x: re.sub("^ME","BS Management Engineering", x) )
df.loc[:,"course"] = df.loc[:,"course"].apply(lambda x: re.sub("^Communications Technology","BS Comtech", x) )
df.loc[:,"course"] = df.loc[:,"course"].apply(lambda x: re.sub("^Legal Management","BS Legal Management", x) )

In [159]:
# Lamda Replace for Phonenumber
df.loc[:,"phonenumber"] = df.loc[:,"phonenumber"].apply(lambda x: re.sub("^917","+63 917", x) )
df.loc[:,"phonenumber"] = df.loc[:,"phonenumber"].apply(lambda x: re.sub("^918","+63 918", x) )
df.loc[:,"phonenumber"] = df.loc[:,"phonenumber"].apply(lambda x: re.sub("^927","+63 927", x) )

# Sir's Lamda apply for Carrier
carrier = {"+63 917":"Globe","+63 918":"Smart", "+63 927":"Globe"}
df["carrier"] = df.loc[:,"phonenumber"].str[0:7].apply(lambda x: carrier[x])

df

,firstname,lastname,birthmonth,birthday,birthyear,course,phonenumber,gender,carrier
0,name1,lastname1,November,26,98,BS Legal Management,+63 918 302 6210,Female,Smart
1,name2,lastname2,May,26,01,BS Management,+63 927 212 6276,Female,Globe
2,name3,lastname3,May,16,97,BS Comtech,+63 918 253 7017,Female,Smart
3,name4,lastname4,December,9,97,BS IT Entrepreneurship,+63 918 714 4360,Male,Smart
4,name5,lastname5,September,5,97,BS Comtech,+63 927 462 1674,Female,Globe
5,name6,lastname6,March,2,99,BS Management,+63 918 629 5268,Female,Smart
6,name7,lastname7,November,10,98,BS Legal Management,+63 917 369 7388,Female,Globe
7,name8,lastname8,August,28,99,BS Management Engineering,+63 917 240 6000,Male,Globe
8,name9,lastname9,July,10,97,BS Management Engineering,+63 918 226 5748,Male,Smart
9,name10,lastname10,September,14,01,BS Comtech,+63 918 342 1717,Female,Smart
10,name11,lastname11,December,8,98,BS Legal Management,+63 927 708 1308,Male,Globe
11,name12,lastname12,May,4,97,BS Management Engineering,+63 927 747 5497,Male,Globe
12,name13,lastname13,January,28,99,BS Comtech,+63 917 959 4490,Female,Globe
13,name14,lastname14,January,11,99,BS Management,+63 927 543 4192,Female,Globe
14,name15,lastname15,June,6,98,BS IT Entrepreneurship,+63 917 211 9497,Male,Globe
15,name16,lastname16,April,20,99,BS Legal Management,+63 918 185 5162,Male,Smart
16,name17,lastname17,January,3,97,BS IT Entrepreneurship,+63 927 146 8146,Female,Globe
17,name18,lastname18,April,8,97,BS Management,+63 927 516 4280,Female,Globe
18,name19,lastname19,December,28,97,BS IT Entrepreneurship,+63 927 958 6909,Male,Globe
19,name20,lastname20,March,10,97,BS Management Engineering,+63 917 514 9105,Male,Globe
20,name21,lastname21,July,13,99,BS Legal Management,+63 927 984 7499,Female,Globe
21,name22,lastname22,September,15,99,BS IT Entrepreneurship,+63 927 699 3694,Male,Globe
22,name23,lastname23,April,15,97,BS Management,+63 917 317 2478,Male,Globe
23,name24,lastname24,October,1,97,BS Management Engineering,+63 917 159 3829,Male,Globe
24,name25,lastname25,May,6,97,BS Management Engineering,+63 918 898 6972,Male,Smart
25,name26,lastname26,December,5,99,BS Management Engineering,+63 917 796 4622,Male,Globe
26,name27,lastname27,March,4,97,BS Comtech,+63 927 138 7580,Female,Globe
27,name28,lastname28,November,10,00,BS Legal Management,+63 917 195 9244,Male,Globe
28,name29,lastname29,October,10,99,BS Legal Management,+63 917 643 3996,Female,Globe
29,name30,lastname30,May,28,99,BS Comtech,+63 917 758 3119,Male,Globe
...,...,...,...,...,...,...,...,...,...
2970,name2971,lastname2971,February,25,97,BS Management,+63 918 679 7197,Female,Smart
2971,name2972,lastname2972,May,14,98,BS Management Engineering,+63 917 580 7169,Male,Globe
2972,name2973,lastname2973,October,9,99,BS Legal Management,+63 917 796 6903,Female,Globe
2973,name2974,lastname2974,August,12,99,BS IT Entrepreneurship,+63 917 850 3525,Female,Globe
2974,name2975,lastname2975,November,18,97,BS Legal Management,+63 927 570 1807,Female,Globe
2975,name2976,lastname2976,July,24,98,BS IT Entrepreneurship,+63 927 942 3786,Female,Globe
2976,name2977,lastname2977,May,26,98,BS Management Engineering,+63 918 658 9148,Female,Smart
2977,name2978,lastname2978,October,26,99,BS IT Entrepreneurship,+63 918 153 2402,Female,Smart
2978,name2979,lastname2979,February,13,97,BS Comtech,+63 918 360 5113,Male,Smart
2979,name2980,lastname2980,July,3,99,BS Legal Management,+63 918 634 6229,Male,Smart
2980,name2981,lastname2981,February,17,98,BS IT Entrepreneurship,+63 927 393 1660,Female,Globe
2981,name2982,lastname2982,March,28,00,BS IT Entrepreneurship,+63 927 642 3573,Male,Globe
2982,name2983,lastname2983,December,3,98,BS Comtech,+63 918 106 5583,Male,Smart
2983,name2984,lastname2984,November,13,00,BS Management,+63 917 612 2550,Male,Globe
2984,name2985,lastname2985,February,23,99,BS Management,+63 927 108 3318,Female,Globe
2985,name2986,lastname2986,March,2,99,BS IT Entrepreneurship,+63 927 622 4725,Female,Globe
2986,name2987,lastname2987,October,6,97,BS IT Entrepreneurship,+63 918 289 5164,Female,Smart
2987,name2988,lastname2988,February,20,97,BS Management,+63 927 984 2369,Female,Globe
2988,name2989,lastname2989,January,17,99,BS Management Engineering,+63 927 909 9560,Male,Globe
2989,name2990,lastname2990,July,14,97,BS Management,+63 927 350 9410,Female,Globe
2990,name2991,lastname2991,July,27,00,BS IT Entrepreneurship,+63 918 952 6706,Female,Smart
2991,name2992,lastname2992,March,26,99,BS IT Entrepreneurship,+63 917 926 9403,Male,Globe
2992,name2993,lastname2993,April,1,00,BS Management Engineering,+63 917 313 8195,Female,Globe
2993,name2994,lastname2994,April,10,99,BS Comtech,+63 917 784 1180,Male,Globe
2994,name2995,lastname2995,May,21,97,BS Comtech,+63 927 827 5389,Male,Globe
2995,name2996,lastname2996,March,28,97,BS Comtech,+63 917 795 5051,Female,Globe
2996,name2997,lastname2997,May,19,98,BS Legal Management,+63 917 445 3378,Male,Globe
2997,name2998,lastname2998,July,3,98,BS IT Entrepreneurship,+63 917 154 5694,Female,Globe
2998,name2999,lastname2999,December,2,98,BS Management Engineering,+63 927 497 8977,Male,Globe
2999,name3000,lastname3000,July,13,97,BS Legal Management,+63 918 719 7624,Male,Smart

In [160]:
with open("cleanrecweekdata3b.csv",newline="") as file:
    df.to_csv(r'/Users/Marie/Desktop/Tio_Assignment-3B/cleanrecweekdata3b.csv')
# I used https://datatofish.com/export-dataframe-to-csv/
# to automatically send the Data Frame to a csv in my Assignment 3B folder

In [161]:
birthmonth_df = df.groupby(["birthmonth"])["lastname"].count()
birthday_df = df.groupby(["birthday"])["lastname"].count()
birthyear_df = df.groupby(["birthyear"])["lastname"].count()
course_df = df.groupby(["course"])["lastname"].count()
carrier_df = df.groupby(["carrier"])["lastname"].count()
gendercarrier_df = df.groupby(["gender","carrier"])["lastname"].count()
gendercarrier_df
for i in range(0,4):
    print(":".join(gendercarrier_df.index[i]))

Female:Globe
Female:Smart
Male:Globe
Male:Smart

In [162]:
main_html = """
    <html>

    <head>
        <title>RecWeekData-3B</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <style type="text/css">
        .mainsection	{{	font-size:20px;
                            color:#000000;
                            text-align:center;
                            vertical-align: middle;
                            line-height: 50px; 
                            background:#F08080  ;
                            height:48px;
                            width:600px;
                            border-style: solid;
                            border-width: 3px;
                            border-bottom-width: 3px;
                            border-top-width: 3px;
                            border-color: black;
                            float:none;
                            margin-top:0px;}}
        .nextmainsection{{	font-size:20px;
                            color:#000000;
                            text-align:center;
                            vertical-align: middle;
                            line-height: 50px; 
                            background:#F08080  ;
                            height:48px;
                            width:600px;
                            border-style: solid;
                            border-width: 3px;
                            border-bottom-width: 3px;
                            border-top-width: 0px;
                            border-color: black;
                            float:none;
                            margin-top:0px;}}
        .subsection		{{	font-size:17px;
                            color:#000000;
                            text-align:center;
                            vertical-align: middle;
                            line-height: 33px;
                            background:#FDFEFE;
                            height:33px;
                            width:298.5px;
                            border-style: solid;
                            border-width: 3px;
                            border-bottom-width: 3px;
                            border-top-width: 0px;
                            border-color: black;
                            float:left;}}
        .variable		{{	font-size:17px;
                            color:#000000;
                            text-align:center;
                            vertical-align: middle;
                            line-height: 33px;
                            background:#FDFEFE;
                            height:33px;
                            width:298.5px;
                            border-style: solid;
                            border-width: 3px;
                            border-bottom-width: 3px;
                            border-top-width: 0px;
                            border-left-width: 0px;
                            border-right-width: 3px;
                            border-color: black;
                            float:left;
                            margin-left:0px;}}
    </style>
    </head>

    <body>

    <br>
        <font style=font-size:10px;><h1 style=margin-left:225px;>RecWeek Statistics</h1></font>
        
    {0}
    {1}
    {2}
    {3}
    {4}
    {5}
    </body>
    </html>
"""

In [163]:
birthmonth_list = ["January","February","March","April","May","June","July",
                    "August","September","October","November","December"]

cp_birthmonth_html = """
    <div class="mainsection"><b>Number of Births in Month "X"</b></div>
    {}
"""

cp_birthmonth_table = ""

for i in birthmonth_list:
    cp_menu_row = ""
    cp_menu_row = cp_menu_row + "<div class=\"subsection\"><b>"
    cp_menu_row = cp_menu_row + i
    cp_menu_row = cp_menu_row + "</b></div>"
    
    cp_menu_row = cp_menu_row + "<div class=\"variable\"><b>"
    cp_menu_row = cp_menu_row + str(birthmonth_df[(i)])
    cp_menu_row = cp_menu_row + "</b></div>"
    
    cp_menu_row = cp_menu_row + "<br><br>"

    cp_birthmonth_table = cp_birthmonth_table + cp_menu_row

In [164]:
cp_birthday_html = """
    <div class="mainsection"><b>Number of Births in Day "X"</b></div>
    {}
"""

cp_birthday_table = ""

for i in range(1,29):
    cp_menu_row = ""
    cp_menu_row = cp_menu_row + "<div class=\"subsection\"><b>"
    cp_menu_row = cp_menu_row + str(i)
    cp_menu_row = cp_menu_row + "</b></div>"
    
    cp_menu_row = cp_menu_row + "<div class=\"variable\"><b>"
    cp_menu_row = cp_menu_row + str(birthday_df[(i)])
    cp_menu_row = cp_menu_row + "</b></div>"
    
    cp_menu_row = cp_menu_row + "<br><br>"

    cp_birthday_table = cp_birthday_table + cp_menu_row

In [165]:
birthyear_list = ["97","98","99","00","01"]

cp_birthyear_html = """
    <div class="mainsection"><b>Number of Births in Year "X"</b></div>
    {}
"""

cp_birthyear_table = ""

for i in birthyear_list:
    cp_menu_row = ""
    cp_menu_row = cp_menu_row + "<div class=\"subsection\"><b>"
    cp_menu_row = cp_menu_row + str(i)
    cp_menu_row = cp_menu_row + "</b></div>"
    
    cp_menu_row = cp_menu_row + "<div class=\"variable\"><b>"
    cp_menu_row = cp_menu_row + str(birthyear_df[(i)])
    cp_menu_row = cp_menu_row + "</b></div>"
    
    cp_menu_row = cp_menu_row + "<br><br>"

    cp_birthyear_table = cp_birthyear_table + cp_menu_row

In [166]:
course_list = ["BS Comtech","BS IT Entrepreneurship","BS Legal Management","BS Management","BS Management Engineering"]

cp_course_html = """
    <div class="mainsection"><b>Number of Students in Course "X"</b></div>
    {}
"""

cp_course_table = ""

for i in course_list:
    cp_menu_row = ""
    cp_menu_row = cp_menu_row + "<div class=\"subsection\"><b>"
    cp_menu_row = cp_menu_row + str(i)
    cp_menu_row = cp_menu_row + "</b></div>"
    
    cp_menu_row = cp_menu_row + "<div class=\"variable\"><b>"
    cp_menu_row = cp_menu_row + str(course_df[(i)])
    cp_menu_row = cp_menu_row + "</b></div>"
    
    cp_menu_row = cp_menu_row + "<br><br>"

    cp_course_table = cp_course_table + cp_menu_row

In [167]:
carrier_list = ["Globe","Smart"]

cp_carrier_html = """
    <div class="mainsection"><b>Number of Students with Cellphone Service "X"</b></div>
    {}
"""

cp_carrier_table = ""

for i in carrier_list:
    cp_menu_row = ""
    cp_menu_row = cp_menu_row + "<div class=\"subsection\"><b>"
    cp_menu_row = cp_menu_row + str(i)
    cp_menu_row = cp_menu_row + "</b></div>"
    
    cp_menu_row = cp_menu_row + "<div class=\"variable\"><b>"
    cp_menu_row = cp_menu_row + str(carrier_df[(i)])
    cp_menu_row = cp_menu_row + "</b></div>"
    
    cp_menu_row = cp_menu_row + "<br><br>"

    cp_carrier_table = cp_carrier_table + cp_menu_row

In [168]:
gender_list = ["Female","Male"]
gendercarrier_list = ["Globe","Smart"]

cp_gendercarrier_html = """
    <div class="mainsection"><b>Students per Gender : Carrier</b></div>
    {}
"""

cp_gendercarrier_table = ""

for i in range(0,2):
    for j in range(0,2):
        cp_menu_row = ""
        cp_menu_row = cp_menu_row + "<div class=\"subsection\"><b>"
        category = gender_list[i] + ":" + gendercarrier_list[j]
        cp_menu_row = cp_menu_row + category
        cp_menu_row = cp_menu_row + "</b></div>"

        cp_menu_row = cp_menu_row + "<div class=\"variable\"><b>"
        cp_menu_row = cp_menu_row + str(gendercarrier_df[(gender_list[i],gendercarrier_list[j])])
        cp_menu_row = cp_menu_row + "</b></div>"

        cp_menu_row = cp_menu_row + "<br><br>"

        cp_gendercarrier_table = cp_gendercarrier_table + cp_menu_row

In [169]:
final_html = main_html.format(cp_birthmonth_html.format(cp_birthmonth_table),cp_birthday_html.format(cp_birthday_table)
                              ,cp_birthyear_html.format(cp_birthyear_table),cp_course_html.format(cp_course_table)
                              ,cp_carrier_html.format(cp_carrier_table),cp_gendercarrier_html.format(cp_gendercarrier_table))

with open('stats3b.html',"w+") as file:
    file.write(final_html)

# Required Summary Statistics

#### These were the questions from 3A:

1. How many people were born in each month?
2. How many people were born on each day?
3. How many people were born in each year?
4. How many people come from each course?
5. How many people have numbers from Globe (0917 or 0927) and Smart (0918)? *Note: it's up to you how to format this output*

#### Additional Questions:
* How many Globe subscribers are: Male? Female?
* How many Smart subscribers are: Male? Female?

Answer these questions in an html file called **stats3b.html**. The format of the html is as follows (in template form, so you can use this as format string in your program, though feel free to modify with variable names if you find it easier to do so):

```
<html>
    <body>
         <h2>Summary Statistics</h2>
         <table>
             <tr><th>Stat</th><th>Value</th></tr>
             <tr><td>People born in each month</td><td>{}</td></tr>
             <tr><td>People born on each day</td><td>{}</td></tr>
             <tr><td>People born in each year</td><td>{}</td></tr>
             <tr><td>People coming from each course</td><td>{}</td></tr>
             <tr><td>People having numbers from Globe and Smart</td><td>{}</td></tr>
             <tr><td>Male Globe subscribers:</td><td>{}</td></tr>
             <tr><td>Female Globe subscribers:</td><td>{}</td></tr>
             <tr><td>Male Smart subscribers:</td><td>{}</td></tr>
             <tr><td>Female Smart subscribers:</td><td>{}</td></tr>
         </table>
    </body>
</html>
```